body {
    background-color: pink;
}

.container {
    width: 550px;
    height: 350px;
    margin: 140px auto;
    position: relative;/*container位置为绝对位置，以便于grss进行定位*/
}

.container div {
    float: left;
    position: absolute;
}

.head .torso .righthand .grass {}

.head {
    width: 254px;
    height: 194px;
    z-index: 2;
    -webkit-transform: translate(20px, 104px)rotate(-53deg);
    -o-transform: translate(20px, 104px)rotate(-53deg);
    -moz-transform: translate(20px, 104px)rotate(-53deg);
    -ms-transform: translate(20px, 104px)rotate(-53deg);
    transform: translate(20px, 104px)rotate(-53deg);
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.head .face {
    width: 200px;
    height: 150px;
    -webkit-border-radius: 100px 100px 70px 70px;
    -o-border-radius: 100px 100px 70px 70px;
    -moz-border-radius: 100px 100px 70px 70px;
    -ms-border-radius: 100px 100px 70px 70px;
    border-radius: 100px 100px 70px 70px;
    background-color: #CB7F29;
    border: 7px solid #734335;
    z-index: 2;
    -webkit-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
}

.head .lefteye {
    width: 23px;
    height: 23px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #734335;
    z-index: 2;
    -webkit-transform: translate(35px, 73px);
    -o-transform: translate(35px, 73px);
    -moz-transform: translate(35px, 73px);
    -ms-transform: translate(35px, 73px);
    transform: translate(35px, 73px);
}

.head .righteye {
    width: 23px;
    height: 23px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #734335;
    z-index: 2;
    -webkit-transform: translate(138px, 70px);
    -o-transform: translate(138px, 70px);
    -moz-transform: translate(138px, 70px);
    -ms-transform: translate(138px, 70px);
    transform: translate(138px, 70px);
}

.head .mouse {
    width: 60px;
    height: 46px;
    -webkit-border-radius: 45%;
    -o-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    border-radius: 45%;
    background-color: white;
    z-index: 3;
    -webkit-transform: translate(68px, 84px);
    -o-transform: translate(68px, 84px);
    -moz-transform: translate(68px, 84px);
    -ms-transform: translate(68px, 84px);
    transform: translate(68px, 84px);
}

.head .mouse1 {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #734335;
    -webkit-transform: translate(24px, 15px);
    -o-transform: translate(24px, 15px);
    -moz-transform: translate(24px, 15px);
    -ms-transform: translate(24px, 15px);
    transform: translate(24px, 15px);
}

.head .mouse2 {
    width: 20px;
    height: 7px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms- border-radius: 8px;
    border-radius: 8px;
    background-color: #734335;
    -webkit-transform: translate(30px, 25px)rotate(35deg);
    -o-transform: translate(30px, 25px)rotate(35deg);
    -moz-transform: translate(30px, 25px)rotate(35deg);
    -ms-transform: translate(30px, 25px)rotate(35deg);
    transform: translate(30px, 25px)rotate(35deg);
}

.head .mouse3 {
    width: 20px;
    height: 7px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background-color: #734335;
    -webkit-transform: translate(11px, 27px)rotate(143deg);
    -o-transform: translate(11px, 27px)rotate(143deg);
    -moz-transform: translate(11px, 27px)rotate(143deg);
    -ms-transform: translate(11px, 27px)rotate(143deg);
    transform: translate(11px, 27px)rotate(143deg);
}

.head .leftear {
    width: 70px;
    height: 45px;
    -webkit- border-radius: 90px 90px 45px 45px;
    -o-border-radius: 90px 90px 45px 45px;
    -moz-border-radius: 90px 90px 45px 45px;
    -ms-border-radius: 90px 90px 45px 45px;
    border-radius: 90px 90px 45px 45px;
    background-color: #CB7F29;
    border: 7px solid #734335;
    z-index: 1;
    -webkit-transform: translate(10px, 10px)rotate(-29deg);
    -o-transform: translate(10px, 10px)rotate(-29deg);
    -moz-transform: translate(10px, 10px)rotate(-29deg);
    -ms-transform: translate(10px, 10px)rotate(-29deg);
    transform: translate(10px, 10px)rotate(-29deg);
}

.head .leftear1 {
    width: 50px;
    height: 30px;
    -webkit-border-radius: 12px 161px 52px 150px;
    -o-border-radius: 12px 161px 52px 150px;
    -moz-border-radius: 12px 161px 52px 150px;
    -ms-border-radius: 12px 161px 52px 150px;
    border-radius: 12px 161px 52px 150px;
    background-color: #F6C705;
    border: 7px solid #734335;
    -webkit-transform: translate(-15px, 13px)rotate(59deg);
    -o-transform: translate(-15px, 13px)rotate(59deg);
    -moz-transform: translate(-15px, 13px)rotate(59deg);
    -ms-transform: translate(-15px, 13px)rotate(59deg);
    transform: translate(-15px, 13px)rotate(59deg);
}

.head .rightear {
    width: 70px;
    height: 45px;
    -webkit-border-radius: 90px 90px 45px 45px;
    -o-border-radius: 90px 90px 45px 45px;
    -moz-border-radius: 90px 90px 45px 45px;
    -ms-border-radius: 90px 90px 45px 45px;
    border-radius: 90px 90px 45px 45px;
    background-color: #CB7F29;
    border: 7px solid #734335;
    z-index: 1;
    -webkit-transform: translate(174px, 5px)rotate(38deg);
    -o-transform: translate(174px, 5px)rotate(38deg);
    -moz-transform: translate(174px, 5px)rotate(38deg);
    -ms-transform: translate(174px, 5px)rotate(38deg);
    transform: translate(174px, 5px)rotate(38deg);
}

.head .rightear1 {
    width: 50px;
    height: 30px;
    -webkit-border-radius: 161px 12px 150px 52px;
    -o-border-radius: 161px 12px 150px 52px;
    -moz-border-radius: 161px 12px 150px 52px;
    -ms-border-radius: 161px 12px 150px 52px;
    border-radius: 161px 12px 150px 52px;
    background-color: #F6C705;
    border: 7px solid #734335;
    -webkit-transform: translate(23px, 8px)rotate(105deg);
    -o-transform: translate(23px, 8px)rotate(105deg);
    -moz-transform: translate(23px, 8px)rotate(105deg);
    -ms-transform: translate(23px, 8px)rotate(105deg);
    transform: translate(23px, 8px)rotate(105deg);
}

.torso {
    width: 300px;
    height: 200px;
    z-index: 1;
    -webkit-transform: translate(190px, 213px);
    -o-transform: translate(190px, 213px);
    -moz-transform: translate(190px, 213px);
    -ms-transform: translate(190px, 213px);
    transform: translate(190px, 213px);
}

.lefthand {
    width: 70px;
    height: 38px;
    -webkit-border-bottom-left-radius: 50% 40px;
    -webkit-border-bottom-right-radius: 50% 40px;
    -o-border-bottom-left-radius: 50% 40px;
    -o-border-bottom-right-radius: 50% 40px;
    -moz-border-bottom-left-radius: 50% 40px;
    -moz-border-bottom-right-radius: 50% 40px;
    -ms-border-bottom-left-radius: 50% 40px;
    -ms-border-bottom-right-radius: 50% 40px;
    border-bottom-left-radius: 50% 40px;
    border-bottom-right-radius: 50% 40px;
    background-color: #CB7F29;
    border-bottom: 7px solid #734335;
    z-index: 3;
    -webkit-transform: translate(-38px, 73px)rotate(23deg);
    -o-transform: translate(-38px, 73px)rotate(23deg);
    -moz-transform: translate(-38px, 73px)rotate(23deg);
    -ms-transform: translate(-38px, 73px)rotate(23deg);
    transform: translate(-38px, 73px)rotate(23deg);
}

.body {
    width: 172px;
    height: 94px;
    -webkit-border-radius: 19px 24px 12px 38px;
    -o-border-radius: 19px 24px 12px 38px;
    -moz-border-radius: 19px 24px 12px 38px;
    -ms-border-radius: 19px 24px 12px 38px;
    border-radius: 19px 24px 12px 38px;
    background-color: #CB7F29;
    border-top: 7px solid #734335;
    border-bottom: 7px solid #734335;
    z-index: 2;
}

.body1 {
    width: 100px;
    height: 70px;
    -webkit-border-radius: 90px 65px 65px 45px;
    -o-border-radius: 90px 65px 65px 45px;
    -moz-border-radius: 90px 65px 65px 45px;
    -ms-border-radius: 90px 65px 65px 45px;
    border-radius: 90px 65px 65px 45px;
    background-color: white;
    -webkit-transform: translate(53px, 10px);
    -o-transform: translate(53px, 10px);
    -moz-transform: translate(53px, 10px);
    -ms-transform: translate(53px, 10px);
    transform: translate(53px, 10px);
}

.downleg {
    width: 61px;
    height: 24px;
    -webkit-border-radius: 64px 38px 89px 46px;
    -o-border-radius: 64px 38px 89px 46px;
    -moz-border-radius: 64px 38px 89px 46px;
    -ms-border-radius: 64px 38px 89px 46px;
    border-radius: 64px 38px 89px 46px;
    background-color: #CB7F29;
    border: 7px solid #734335;
    z-index: 1;
    -webkit-transform: translate(138px, 69px)rotate(7deg);
    -o-transform: translate(138px, 69px)rotate(7deg);
    -moz-transform: translate(138px, 69px)rotate(7deg);
    -ms-transform: translate(138px, 69px)rotate(7deg);
    transform: translate(138px, 69px)rotate(7deg);
}

.upleg {
    width: 27px;
    height: 79px;
    -webkit-border-radius: 110px 69px 0 130px;
    -o-border-radius: 110px 69px 0 130px;
    -moz-border-radius: 110px 69px 0 130px;
    -ms-border-radius: 110px 69px 0 130px;
    border-radius: 110px 69px 0 130px;
    background-color: #CB7F29;
    border-top: 7px solid #734335;
    border-left: 7px solid #734335;
    border-right: 7px solid #734335;
    -webkit-transform: translate(175px, -3px)rotate(133deg);
    -o-transform: translate(175px, -3px)rotate(133deg);
    -moz-transform: translate(175px, -3px)rotate(133deg);
    -ms-transform: translate(175px, -3px)rotate(133deg);
    transform: translate(175px, -3px)rotate(133deg);
}

.tail {
    width: 34px;
    height: 20px;
    -webkit-border-radius: 72px 90px 45px 45px;
    -o-border-radius: 72px 90px 45px 45px;
    -moz-border-radius: 72px 90px 45px 45px;
    -ms-border-radius: 72px 90px 45px 45px;
    border-radius: 72px 90px 45px 45px;
    background-color: #CB7F29;
    border: 7px solid #734335;
    z-index: 4;
    -webkit-transform: translate(156px, -20px)rotate(16deg);
    -o-transform: translate(156px, -20px)rotate(16deg);
    -moz-transform: translate(156px, -20px)rotate(16deg);
    -ms-transform: translate(156px, -20px)rotate(16deg);
    transform: translate(156px, -20px)rotate(16deg);
}

.bg1 {
    width: 39px;
    height: 78px;
    background-color: #CB7F29;
    z-index: 2;
    -webkit-border-radius: 63px 102px 36px 39px;
    -o-border-radius: 63px 102px 36px 39px;
    -moz-border-radius: 63px 102px 36px 39px;
    -ms-border-radius: 63px 102px 36px 39px;
    border-radius: 63px 102px 36px 39px;
    -webkit-transform: translate(154px, 8px);
    -o-transform: translate(154px, 8px);
    -moz-transform: translate(154px, 8px);
    -ms-transform: translate(154px, 8px);
    transform: translate(154px, 8px);
}

.bg2 {
    width: 9px;
    height: 12px;
    background-color: white;
    border: 7px solid #734335;
    -webkit-border-radius: 104px 44px 126px 0px;
    -o-border-radius: 104px 44px 126px 0px;
    -moz-border-radius: 104px 44px 126px 0px;
    -ms-border-radius: 104px 44px 126px 0px;
    border-radius: 104px 44px 126px 0px;
    z-index: 3;
    -webkit-transform: translate(182px, 55px)rotate(-92deg);
    -o-transform: translate(182px, 55px)rotate(-92deg);
    -moz-transform: translate(182px, 55px)rotate(-92deg);
    -ms-transform: translate(182px, 55px)rotate(-92deg);
    transform: translate(182px, 55px)rotate(-92deg);
}

.righthand {
    width: 35px;
    height: 95px;
    -webkit-border-top-left-radius: 33% 15px;
    -webkit-border-top-right-radius: 49% 40px;
    -o- border-top-left-radius: 33% 15px;
    -o-border-top-right-radius: 49% 40px;
    -moz-border-top-left-radius: 33% 15px;
    -moz-border-top-right-radius: 49% 40px;
    -ms-border-top-left-radius: 33% 15px;
    -ms-border-top-right-radius: 49% 40px;
    border-top-left-radius: 33% 15px;
    border-top-right-radius: 49% 40px;
    background-color: #CB7F29;
    border-top: 7px solid #734335;
    border-left: 7px solid #734335;
    border-right: 7px solid #734335;
    z-index: 3;
    -webkit-transform: translate(248px, 118px);
    -o-transform: translate(248px, 118px);
    -moz-transform: translate(248px, 118px);
    -ms-transform: translate(248px, 118px);
    transform: translate(248px, 118px);
}

.righthand1 {
    width: 25px;
    height: 20px;
    -webkit-border-radius: 73px 175px 66px 168px;
    -o-border-radius: 73px 175px 66px 168px;
    -moz-border-radius: 73px 175px 66px 168px;
    -ms-border-radius: 73px 175px 66px 168px;
    border-radius: 73px 175px 66px 168px;
    background-color: #F6C705;
    border: 7px solid #734335;
    -webkit- transform: translate(3px, -5px)rotate(8deg);
    -o-transform: translate(3px, -5px)rotate(8deg);
    -moz-transform: translate(3px, -5px)rotate(8deg);
    -ms-transform: translate(3px, -5px)rotate(8deg);
    transform: translate(3px, -5px)rotate(8deg);
}

.grass {
    width: 100px;
    height: 150px;
    left: 225px;/*距container左边225像素*/
    top: -24px;/*距container上边-24像素*/
    -webkit-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;/*指定grass进行变形的中心点为bottom的中点*/
    -webkit-animation: grass 3s ease-in-out infinite;
    -o-animation: grass 3s ease-in-out infinite;
    -moz-animation: grass 3s ease-in-out infinite;
    -ms-animation: grass 3s ease-in-out infinite;
    animation: grass 3s ease-in-out infinite;
}

.g1 {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 30px 30px 0 30px;
    -o- border-radius: 30px 30px 0 30px;
    -moz-border-radius: 30px 30px 0 30px;
    -ms-border-radius: 30px 30px 0 30px;
    border-radius: 30px 30px 0 30px;
    background-color: #86BC2C;
    border: 7px solid #734335;
    -webkit-transform: translate(18px, 36px);
    -o-transform: translate(18px, 36px);
    -moz-transform: translate(18px, 36px);
    -ms-transform: translate(18px, 36px);
    transform: translate(18px, 36px);
}

.g2 {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 30px 30px 0 30px;
    -o-border-radius: 30px 30px 0 30px;
    -moz-border-radius: 30px 30px 0 30px;
    -ms-border-radius: 30px 30px 0 30px;
    border-radius: 30px 30px 0 30px;
    background-color: #86BC2C;
    border: 7px solid #734335;
    -webkit-transform: translate(45px, 36px)rotate(90deg);
    -o-transform: translate(45px, 36px)rotate(90deg);
    -moz-transform: translate(45px, 36px)rotate(90deg);
    -ms-transform: translate(45px, 36px)rotate(90deg);
    transform: translate(45px, 36px)rotate(90deg);
}

.g3 {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 30px 30px 0 30px;
    -o-border-radius: 30px 30px 0 30px;
    -moz-border-radius: 30px 30px 0 30px;
    -ms-border-radius: 30px 30px 0 30px;
    border-radius: 30px 30px 0 30px;
    background-color: #86BC2C;
    border: 7px solid #734335;
    -webkit-transform: translate(18px, 63px)rotate(-90deg);
    -o-transform: translate(18px, 63px)rotate(-90deg);
    -moz-transform: translate(18px, 63px)rotate(-90deg);
    -ms-transform: translate(18px, 63px)rotate(-90deg);
    transform: translate(18px, 63px)rotate(-90deg);
}

.g4 {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 30px 30px 0 30px;
    -o-border-radius: 30px 30px 0 30px;
    -moz-border-radius: 30px 30px 0 30px;
    -ms-border-radius: 30px 30px 0 30px;
    border-radius: 30px 30px 0 30px;
    background-color: #86BC2C;
    border: 7px solid #734335;
    -webkit-transform: translate(45px, 63px)rotate(180deg);
    -o-transform: translate(45px, 63px)rotate(180deg);
    -moz-transform: translate(45px, 63px)rotate(180deg);
    -ms-transform: translate(45px, 63px)rotate(180deg);
    transform: translate(45px, 63px)rotate(180deg);
}

.g5 {
    width: 7px;
    height: 81px;
    background-color: #734335;
    -webkit-transform: translate(45px, 68px);
    -o-transform: translate(45px, 68px);
    -moz-transform: translate(45px, 68px);
    -ms-transform: translate(45px, 68px);
    transform: translate(45px, 68px);
}

@-webkit-keyframes grass {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-10deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes grass {
    0% {
        -o-transform: rotate(0deg);
    }
    25% {
        -o-transform: rotate(-10deg);
    }
    50% {
        -o-transform: rotate(0deg);
    }
    75% {
        -o-transform: rotate(10deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

@-moz-keyframes grass {
    0% {
        -moz-transform: rotate(0deg);
    }
    25% {
        -moz-transform: rotate(-10deg);
    }
    50% {
        -moz-transform: rotate(0deg);
    }
    75% {
        -moz-transform: rotate(10deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@keyframes grass {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
